# 忽略依赖包目录
node_modules/

# 忽略 Nuxt 构建目录
.nuxt/
.output/
dist/

# 忽略日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 忽略 IDE 配置文件（可选）
.vscode/
.idea/

# 忽略系统文件

.DS_Store
Thumbs.db

# Nuxt content 生成缓存（如果启用）
.cache/

# 打包生成 zip 资源（如果你用脚本生成）
*.zip
node_modules

# 忽略服务器数据文件
server/data/*.json
!server/data/.keep
